extends ./layouts/main.jade

block title
  title Gallery | Automoblox 

block navlinks
  li
    a.nav-link(href='about.html') About
  li
    a.nav-link(href='contact.html') Contact
  li.active
    a.nav-link Gallery
  li
    a.nav-link(href='account.html') Account

mixin card(name)
  .col.s6.m4.l3.gallery-img
    img.responsive-img.materialboxed(
      src='#{img}#{name}_large.jpg'
      alt='#{name} model wooden toy car')
    hr
    h5.center-align Name: #{name.toUpperCase()}

block content
  .container
    h2 Gallery
    .row
      each name in ['a9', 'a9s', 'c9', 'c9r', 'c9s', 'm9', 's9', 's9r', 't9', 'x9', 'x9x']
        +card(name)

